.product-detail-container {
    display: flex;
    justify-content: space-between;
}

.category-section {
    width: 30%;
    margin-top: 100px;
    padding: 20px;
}

.category-section .category-card {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: auto;
    padding: 0 20px;
    border: 1px solid silver;
    margin-bottom: 20px;
}

.category-section h3{
    margin: 5px 0 15px 0;
}

.category-section .category-card a{
    font-size: 18px;
}

.category-section .category-card i{
    color: var(--default-color);
    font-size: 21px;
}

.description-section {
    width: 68%;
}

.product-name-container {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.product-name-container h1 {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;

}

.product-model-name {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}

.product-container {
    margin: 0 auto;
}

.product-container h4 {
    font-weight: 700;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.product-container .bi-square-fill{
    font-size: 14px;
    color: var(--accent-color);
    margin-right: 15px;
}

.product-card-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.section-1 img {
    width: 100%;
    height: 350px;
    background-color: white;
    object-fit: contain;
}

.section-2 h4 {
    background-color: var(--accent-color);
    padding: 15px 8px 15px 15px;
    font-size: 18px;
}

.section-2 .text-bold {
    font-weight: 700;
}

.section-2 .technical-specification-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.15;
    margin-bottom: 1.1em;
}

.product-card-content .product-model-description {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--accent-color);
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.section-2 .technical-specification-container {
    display: flex;

}

.section-2 .technical-specification-container .key {
    width: 55%;
}

.section-2 .technical-specification-container .key p{
    font-size: 14px;
}

.section-2 .technical-specification-container .value {
    width: 45%;
}

.section-2 .technical-specification-container .value p{
    font-size: 14px;
}

.product-machine-description .section-title{
    margin-top: 65px;
}

.liquid-filling-machine-section{
    padding-top: 0;
}

.product-card-container .section-1 {
    width: 35%;
}

.product-card-container .section-2{
    width: 65%;
}

.product-machine-description-text{
    font-size: 14px;
}

.product-machine-description-question{
    font-size: 16px;
    font-weight: 600;
}