.product-model-detail-section {
    margin-top: 50px;
}

.product-model-detail-section .section-header {
    background-color: var(--accent-color);
    padding: 30px 0 30px 150px;
    margin-bottom: 40px;
}

.product-model-detail-section .section-header h3 {
    font-weight: 500;
    color: var(--default-color);
}

.product-model-detail-section .product-model-detail-container {
    display: flex;
    justify-content: space-between;
}

#product-model-name {
    background-color: var(--accent-color);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 550;
    border-radius: 6px;
}

.technical-specification-text {
    font-size: 18px;
    font-weight: 600;
}

.product-model-section-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.product-model-section-1 .btn-getEnquireNow, .btn-getEnquireNow:focus {
    color: var(--contrast-color);
    background: var(--main-background-color);
    font-size: 14px;
    width: 24%;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    padding: 8px 20px;
    margin-top: 12px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.product-model-section-1 .btn-getEnquireNow:hover{
    background: color-mix(in srgb, var(--accent-color), transparent 15%);
}

#product-model-image {
    padding: 10px;
    width: 60%;
    object-fit: contain;
    margin: 0 auto;
}

#product-model-image:hover {
    border: 1px solid silver;
}

.table .th-heading {
    color: var(--default-color);
    text-transform: capitalize;
    font-weight: 600;
}

/* ---------------------------------
-------------------video section ---------------*/

.product-video-section {
    margin-bottom: 80px;
}

.product-video-section {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0,0.1);
}

.video-wrapper {
    background-color: white;
    display: inline-block;
}